body {
    padding-top: $body-padding;

    @apply 
        font-body
        text-gray-800;
}

a {
    @apply transition underline hover:text-primary-500;
}

.icon-bullets {
    @apply pl-8;

    li {
        @apply relative;

        svg {
            position: relative;
            left: -1em;
            margin-left: -1em;
            @apply text-primary-500;
        }
    }
}

.swiper-container {
    &.min-h-inherit {
        .swiper-wrapper, .swiper-slide {
            @apply min-h-inherit;
        }
    }
}


.masonry-grid {
    @apply flex -ml-4 w-auto;
  }

  .masonry-grid_column {
    @apply pl-4;
    background-clip: padding-box;
  }
  
  .masonry-grid_column > div {
    @apply mb-4;
  }